html, body{ 
    height:100%; 
    padding:0px; 
    margin:0px; 
    overflow: hidden;
}

.gantt_task_progress {
    background-color: #545454;
    opacity: 0.3;
}

.lb_mult_selector {
    height: 40px;
    width:536px;
    padding-left:10px;
}

.lb_mult_input {
    border:1px solid #B6B8C2;
    width:100%;
}

.gantt_custom_slack {
    position: absolute;
    margin-top: 2px;
    opacity: 0.4;
    border: 1px solid #000000;
    background: repeating-linear-gradient(
        315deg,
        #FFFFFF,
        #FFFFFF 4px,
        #000000 6px,
        #000000 8px
        );
}

.week_end {
    background-color: #707070;
    opacity: 0.1;
}